[Unit]
Description=Discord Scammer Detector Bot

[Service]
Type=simple
WorkingDirectory=/home/play
StandardOutput=tty
StandardError=tty
EnvironmentFile=/home/play/.env
LimitNOFILE=65535
User=play
ExecStart=/usr/bin/java -jar /home/play/app.jar
RestartSec=1
StartLimitIntervalSec=0
Restart=always


[Install]
WantedBy=multi-user.target
